* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body {

  background-color: #f0f0f0;

}


.inicio {
    height: 200px;
    background: linear-gradient(135deg, #E53D00, #E06D06);
    box-shadow: 0 0 30px #8f44fd, 0 0 40px #8f44fd88 inset;
    border-radius: 5px;
    margin-bottom: 40px;
    animation: pulse 3s ease-in-out infinite;
    width: 100%;
    padding: 20px;
}

.modelo1 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
}

@keyframes pulse {

  0%, 100% {

    transform: scale(1);

    opacity: 1;

  }

  50% {

    transform: scale(1.05);

    opacity: 0.90;

  }
    
}
