* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body {

  background-color: #f0f0f0;

}


Menu-incial {

  background: linear-gradient(135deg, #6543d1, #9e00ff);

  height: 300px;

  width: 100vw;
  
  box-shadow: 0 0 30px #8f44fd, 0 0 40px #8f44fd88 inset;
  
  border-radius: 5px;
  
  margin-bottom: 40px;

  animation: pulse 3s ease-in-out infinite;
  
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.90;
  }
    
}
